<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  
    <!-- virtual walls -->
    <node pkg="virtual_walls" type="virtual_walls_node" name="virtual_walls_node" output="screen"/>
  
    <!-- launch turtlebot_rviz -->
    <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch" />

    <!-- user_interface -->
    <node pkg="user_interface" type="user_interface_node" name="user_interface_node" output="screen"/>

    <!-- turtlebot_dqn -->
    <node pkg="turtlebot_dqn" type="turtlebot_dqn_node" name="turtlebot_dqn_node" output="screen"/>

</launch>
